body {
  text-align: center;
  font-family: Verdana;
  background-color: black
}

h1 {
  font-weight: bold;;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.link {
  font-weight: bold;
  color: Aquamarine;
  font-size: 16px;
}

.travguide {
  color: gray;
  font-size: 21px;
}

.footer {
  text-align: right;
  color: gray;
}
